
body{
  margin: 0;
  width: 100vw;
  height: 100vh;
  background-color: #fff;
  display: flex;
  flex-direction: column;
}
header{
  width: 100vw;
  height: 10vh;
  background-color: #333333;
  display: flex;
}
main{
  
  height: 80vh;
  flex: 1;
  /*justify-content: space-around;*/
  color: #000;
}
.blocA{
  width: 20vw;
  height: 40vh;
  background-color: #f55d53;
  margin:10px ;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  box-shadow:20px 20px 20px rgba(1,1,1,1);
  opacity: 0.8;
  display: block;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.blocB{
  width: 70vw;
  height: 80vh;
  background-color: #fff;
  text-align: center;
  /*   margin:10px; */
/*   border-bottom-left-radius: 20px;
border-bottom-right-radius: 20px;
border-top-left-radius: 20px;
border-top-right-radius: 20px; */
box-shadow:0px 0px 0px rgba(1,1,1,1);
opacity: 0.8;
}

footer{
  width: 100vw;
  height: 10vh;
  background-color: #fff;/* #f55d53 */
  /*display: flex;
  justify-content: flex-end;*/
} 

/* --------------- Social --------------- */
.icons{
  transform:scale(.3);
  /*margin-left:1rem;*/
}

.reseaux_sociaux{
  width:10rem;
  height: 4rem;
  background-color: red;
  

}





.twitter:hover , .linkedin:hover , .github:hover {
  color: rgba(46, 204, 113,0.8);
}
ul {
  display: flex;
  list-style: none;
  margin: 0;
  background-color: #000;
}

li {
  margin: auto;
  width: 10vw;
  height: 10vh;
}