
body{
  margin: 0;
  width: 100vw;
  height: 100vh;
  background-color: #fff;
  display: flex;
  
}
header{
  width: 100vw;
  height: 6vh;
  background-color: #333333;
  display:flex;
  justify-content: space-between;
  align-items: center;
}
button {
  background: #333;
  background-image: -webkit-linear-gradient(top, #333, #333);
  background-image: -moz-linear-gradient(top, #333, #333);
  background-image: -ms-linear-gradient(top, #333, #333);
  background-image: -o-linear-gradient(top, #333, #333);
  background-image: linear-gradient(to bottom, #333, #333);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Georgia;
  color: #ffffff;
  font-size: 16px;
  padding: 10px 20px 10px 20px;
  margin-left: 0px;
  margin-right: 50px;
  text-decoration: none;
}

button:hover {
  background: #f55d53;
  background-image: -webkit-linear-gradient(top, #f55d53, #f55d53);
  background-image: -moz-linear-gradient(top, #f55d53, #f55d53);
  background-image: -ms-linear-gradient(top, #f55d53, #f55d53);
  background-image: -o-linear-gradient(top, #f55d53, #f55d53);
  background-image: linear-gradient(to bottom, #f55d53, #f55d53);
  text-decoration: none;
}
main{
  height: 80vh;
  
  color: #000;
}
.App-logo{
  transform:scale(.7);
/*   margin-right:80em; */
/*   margin-top:.4rem; */ 
}
.blocA{
  width: 8rem;
  height: 8rem;
  background-color: #f55d53;
  margin:10px ;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  box-shadow:20px 20px 20px rgba(1,1,1,1);
  opacity: 0.8;
  display: block;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.blocB{
  width: 7vw;
  height: 8vh;
  background-color: #fff;
  text-align: center;
  background-color: #f55d53;
  /*   margin:10px; */
/*   border-bottom-left-radius: 20px;
border-bottom-right-radius: 20px;
border-top-left-radius: 20px;
border-top-right-radius: 20px; */
box-shadow:0px 0px 0px rgba(1,1,1,1);
opacity: 1;
}

footer{
  width: 100vw;
  height: 10vh;
  background-color: #333333;/* #f55d53 */
  display: flex;
  justify-content: flex-end;
/*   padding-right: 20rem; */
  overflow: hidden;
} 

/* --------------- Social --------------- */

.icons{
/*   padding-right: 10rem; */
  transform:scale(.23);
  position:relative;
  top:-63px;
}

footer a{
  width:5rem;

}







.twitter:hover , .linkedin:hover , .github:hover {
  color: rgba(46, 204, 113,0.8);
}
ul {
  display: flex;
  list-style: none;
  margin: 0;
  background-color: #000;
}

li {
  margin: auto;
  width: 5vw;
  height: 10vh;
}